.footer{
    font-family: 'Silkscreen', sans-serif;
    color: black;
    text-decoration: none;
    background-color: #904761;
    bottom: 0;
    left: 0;
    width: 100%;
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

footer{
    font-family: 'Silkscreen', sans-serif;
    color: black;
    text-decoration: none;
    background-color: #904761;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    margin-top: 1.25rem;
}
