
footer{
    font-family: 'Silkscreen', sans-serif;
    color: black;
    text-decoration: none;
    background-color: #904761;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 10rem;
}

li{
    list-style: none;
    text-decoration: none;
}

ul{
    width: 10%;
}

a{
    color: black;
    text-decoration: none;
    width: 10%;
}

